doctype
html
    head
        title="Twitnots"
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
        script(src='/javascript/client.js')
        script(src='/socket.io/socket.io.js')
    body
        h1
            | Real Time Streaming coming soon. Stay tuned.