doctype
html
	head
		title="Twitnots"
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
		script(src='/javascript/client.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascript/tweetParser.js')
		link(rel='stylesheet', href='/styles/home.css')
	body
		#ball
		#mainContainer
			.tweetContainer.tweetContainerLarge(data-position=1)
				.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
			.tweetContainer.tweetContainerLarge(data-position=2)
				.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
			.tweetContainer.tweetContainerLarge(data-position=3)
				.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
			.tweetContainer(data-position=4)
				.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
			.tweetContainer(data-position=5)
				.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
			.tweetContainer.tweetContainerLarge.stage(data-position=6)
				.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
			.tweetContainer(data-position=7)
				.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
			.tweetContainer(data-position=8)
				.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
			.tweetContainer.tweetContainerLarge(data-position=9)
				.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
			.tweetContainer.tweetContainerLarge(data-position=10)
				.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
			.tweetContainer.tweetContainerLarge(data-position=11)
				.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
		#animatedTweet