doctype
html
    head
        title="Twitnots"
        script(src='/javascript/jquery-2.1.0.js')
        script(src='/javascript/client.js')
        script(src='/socket.io/socket.io.js')
    body
        h1
            | Real Time Streaming coming soon. Stay tuned.