<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>World Cup 2014 Brazil</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="eventbuzz.me">
		<meta name="author" content="Dave&Kevin">
		<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js'></script>
		<script src='/javascript/structures.js'></script>
		<script src='/javascript/client.js'></script>
		<script src='/socket.io/socket.io.js'></script>
		<script src='/javascript/tweetParser.js'></script>
		<link href="/styles/bootstrap.min.css" rel="stylesheet">

		<script type="text/javascript" src="/javascript/bootstrap.min.js"></script>

		<style>
			body {
				background: #4099FF;
			}

			.p1, .p2, .p3 {
				background: #fff;
				height: 400px;
			}

			.secondary {
				margin-top: 10px;
			}

			.container {
				width: 100%;
			}

			#user {
				position: absolute;
				top: 10px;
				left: 80px;
			}

			.userName {
				font-weight: bold;
				margin-right: 5px;
			}

			.userHandle {
				opacity: 0.5;
				margin-right: 5px;
			}

			.time {
				display: block;
			}
			
			.tweetContent{
				font-size: 1.2em;
			}
			
			.media{
			   height: 200px;
			   width: 100%;
				
			}
			
			.media img{
			   background-size:contain;
			}

		</style>
	</head>
	<body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-4 column p1" data-position="1">
					<div class="row clearfix">
						<div class="col-md-12 column">
							<img src="http://lorempixel.com/40/40/" class="img-thumbnail">
							<div id="user">
								<span class="userName">Kevin Bargary</span><span class="userHandle">@kevinbargary</span><span class="time">22 minutes ago</span>
							</div>
							<div class="media">
								
							</div>
							<p class="tweetContent"></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 column p2" data-position="2">
					<div class="row clearfix">
						<div class="col-md-12 column">
							<img src="http://lorempixel.com/40/40/" class="img-thumbnail">
							<div id="user">
								<span class="userName">Kevin Bargary</span><span class="userHandle">@kevinbargary</span><span class="time">22 minutes ago</span>
							</div>
							<div class="media">
								
							</div>
							<p class="tweetContent"></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 column p3" data-position="3">
					<div class="row clearfix">
						<div class="col-md-12 column">
							<img src="http://lorempixel.com/40/40/" class="img-thumbnail">
							<div id="user">
								<span class="userName">Kevin Bargary</span><span class="userHandle">@kevinbargary</span><span class="time">22 minutes ago</span>
							</div>
							<div class="media">
								
							</div>
							<p class="tweetContent"> </p>
						</div>
					</div>
				</div>
			</div>
			<div class="row clearfix">
					<div class="row">
						<div class="col-md-4" data-mapvalue="0">
							<div class="thumbnail">
								<img alt="300x200" src="http://lorempixel.com/600/200/people">
								<div class="caption">
									<h3> Thumbnail label </h3>
									<p>
										Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4" data-mapvalue="1">
							<div class="thumbnail">
								<img alt="300x200" src="http://lorempixel.com/600/200/city">
								<div class="caption">
									<h3> Thumbnail label </h3>
									<p>
										Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4" data-mapvalue="2">
							<div class="thumbnail">
								<img alt="300x200" src="http://lorempixel.com/600/200/sports">
								<div class="caption">
									<h3> Thumbnail label </h3>
									<p>
										Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>

								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4" data-mapvalue="3">
							<div class="thumbnail">
								<img alt="300x200" src="http://lorempixel.com/600/200/people">
								<div class="caption">
									<h3> Thumbnail label </h3>
									<p>
										Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4" data-mapvalue="4">
							<div class="thumbnail">
								<img alt="300x200" src="http://lorempixel.com/600/200/city">
								<div class="caption">
									<h3> Thumbnail label </h3>
									<p>
										Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4" data-mapvalue="5">
							<div class="thumbnail">
								<img alt="300x200" src="http://lorempixel.com/600/200/sports">
								<div class="caption">
									<h3> Thumbnail label </h3>
									<p>
										Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>

								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4" data-mapvalue="6">
							<div class="thumbnail">
								<img alt="300x200" src="http://lorempixel.com/600/200/people">
								<div class="caption">
									<h3> Thumbnail label </h3>
									<p>
										Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4" data-mapvalue="7">
							<div class="thumbnail">
								<img alt="300x200" src="http://lorempixel.com/600/200/city">
								<div class="caption">
									<h3> Thumbnail label </h3>
									<p>
										Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4" data-mapvalue="8">
							<div class="thumbnail">
								<img alt="300x200" src="http://lorempixel.com/600/200/sports">
								<div class="caption">
									<h3> Thumbnail label </h3>
									<p>
										Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
